build/
install/
log/
.colcon/
.rosinstall
.rosinstall.bak
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
dist/
*.egg
.pytest_cache/
.coverage
htmlcov/
.mypy_cache/
.dmypy.json

temp_propt.txt
temp_response.txt

*.db
*.db-journal
*.db-wal
*.db-shm
.env

.vscode/


det.py